@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  font-family: "Kode Mono", monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: floralwhite;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Appheader{
  height:  50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.SideMenuandPageContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
}