@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  font-family: "Kode Mono", monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: floralwhite;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Appheader {
  height: 50px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center;s */
  padding: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.content-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Add scrollbar when content exceeds viewport */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
