.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075); /* Semi-transparent background */
  z-index: 1000; /* Ensure the modal is on top */
  align-items: center;
  justify-content: center;
}

.modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.modal-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-card-body {
  padding-top: 20px;
}

.inputgroup {
  margin-bottom: 10px;
}

.delete {
  cursor: pointer;
  border: none;
  background: none;
  color: #333;
  font-size: 18px;
}

.delete:hover {
  color: #000;
}
