.SideMenu {
  height: 100%;
  width: 300px;
  background-color: rgb(182, 131, 107);
}
.SideMenuList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SideMenuList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color:rgb(27, 18, 6);
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SideMenuList .row:hover {
    cursor: pointer;
    background-color: rgba(126, 59, 15, 0.534) ;
}

.SideMenuList #active {
    background-color: rgba(126, 59, 15, 0.534) ;
}
.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}
