.Appheader {
  background-color: #0173eb;
  color: #ffffff;
  height: 90px;
  padding: 2px;
  border-bottom: 1px solid #ffffff;
  content: flex;
  flex-direction: row;
}

.h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

.button {
  margin-left: 92%;
  background-color: #0d6ebe;
  color: #ffffff;
  box-sizing:content-box;
  height: 2rem; 
  width: 4rem;
  padding: auto;
}